// Remove default Margin & Padding
    
* 
    margin: none
    padding: none

// Designing 

@import Design/color
@import Design/font

// Responsive

@import Responsive/viewports/desktop
@import Responsive/viewports/mobile

// Layout

@import layout/menu/simple
@import layout/flex

// Animation

// @import animation/simple
// @import animation/loadanimate

// Setting default

$primary-color: $green-500 !default

// Utilities

@import utilities/text