doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Gass
        meta(name="description", content="Godratmand Awesome Style Sheets")
        link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="src/css/main.min.css")
    body
        header
            img(src="logo.png", alt="Logo")
            div(title) Godratmand Awesome Style Sheets
            p Fast & Powerfull Sass Framwork ( Modular Framwork )
            p
                b This Project Stopped.. You Move to GodUi :)
                br
            .tab
                div
                    a(href="https://godui.pages.dev/") GodUi Project Site
                div
                    a(href="https://github.com/GodratGroup/GodUi")  GodUi Github