doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Gass
        meta(name="description", content="Godratmand Awesome Style Sheets")
        link(rel="shortcut icon", href="../logo.png", type="image/x-icon")
        link(rel="stylesheet", href="src/css/main.min.css")
    body
        header
            img(src="../logo.png", alt="Logo")
            div(title) Godratmand Awesome Style Sheets
            p Fast & Powerfull Sass Framwork ( Modular Framwork )
        .tab
            div
                a(href="#option") Option
            div
                a(href="#start") Start
            div
                a(href="#docs") Docs
            div 
                a(href="https://github.com/GodratGroup/Gass") Github
        .main 
            h6(id="option") Option
                p ⚡️ Fast & light-weight.
                p ♨️ Modular 
                p ✅ Easy to use